:root {
  --primary-color: #433a77;
  --orange: rgb(251, 123, 72);
  --primary2-color: #2f60fc;
}
.gap-3 {
  gap: 30px;
}
a {
  text-decoration: none;
}
.w-35 {
  width: 35%;
}
.w-45 {
  width: 45%;
}
.prl-2 {
  padding: 10px 10px;
}
.gap-15 {
  gap: 15px;
}
a:hover {
  text-decoration: none;
}
.hover_orange:hover {
  color: var(--orange);
}
.free-shiping {
  font-size: 14px;
}
.font-size-13 {
  font-size: 13px;
}
.tracking-png {
  width: 22px;
  margin-right: 5px;
}
.profile-png {
  margin-right: 5px;
  width: 18px;
}
.items-png {
  margin-right: 5px;
  width: 16px;
}
.header-first-sec {
  width: 34%;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0px;
}
.right-sideheader {
  width: 45%;
  justify-content: space-around;
  align-items: center;
  color: #6c757d;
}
.dropdown-item {
  padding: 5px 5px;
}
.dropdown-menu {
  min-width: 4rem;
}
.topbar {
  margin: 6px auto;
  width: 96%;
}
.main_wrapper {
  margin: 20px auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.search-select-box {
  width: 37%;
}
.connect {
  width: 42px;
  border: solid 1px #dbdbdb;
  border-radius: 2px;
  padding: 8px;
}
.small-sub-text {
  font-size: 14px;
  color: #7c7c7c;
}
.navbar-color {
  background-color: #433a77;
  color: white;
  font-size: 13px;
}
.main-navbar {
  position: sticky;
  top: 0;
}
.nav-item {
  transition: 1s;
}
.nav-item:hover {
  border-bottom: 4px solid #ff0000;
}
.Carousel-box .carousel-indicators {
  bottom: -55px;
}
.Carousel-box .carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border-top: none !important;
  border-bottom: none !important;
}
.Carousel-box .carousel-indicators .active {
  background-color: var(--primary2-color) !important;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset,
    var(--primary2-color) 0px 0px 2px !important;
}
.order-select {
  background: transparent !important;
  color: black !important;
  border-color: #dee2e6 !important;
  box-shadow: none !important;
}
.startBox {
  margin: 0px 15px 0px 0px;
  text-transform: uppercase;
  line-height: 19px;
  font-size: 16px;
  color: rgb(73, 73, 73);
  font-weight: normal;
}
.startBox span {
  display: block;
  font-size: 24px;
}
.input-box {
  width: calc(100% - 115px);
}
.pricesBox {
  width: auto;
  float: left;
  height: auto;
  margin: 3px 0px 0px;
  position: relative;
}
.pricesBox .priceLabel,
.pricesBox .oldPrice,
.pricesBox .newPrice {
  width: auto;
  float: left;
  height: auto;
  margin: 5px 0px 0px;
  color: rgb(73, 73, 73);
  position: relative;
}
.pricesBox .oldPrice {
  display: block;
  position: absolute;
  left: 45px;
  top: -14px;
  margin-top: 0px;
}
.pricesBox .oldPrice::before {
  content: "";
  width: calc(100% + 5px);
  height: 1px;
  background: rgb(73, 73, 73);
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.size-box .size {
  width: auto;
  margin: 11px 10px 0px 0px;
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  color: rgb(124, 124, 124);
  font-weight: normal;
}
.pricesBox .newPrice {
  font-size: 22px;
  margin: 10px 10px 0px;
}

.breadcrum-color {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  line-height: 18px;
  font-size: 12px;
  color: var(--primary2-color);
}
.breadcrum-box {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  line-height: 18px;
  font-size: 12px;
  color: rgb(124, 124, 124);
  font-weight: normal;
  padding: 0px 15px 0px 0px;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.breadcrum-box:hover span {
  color: var(--primary2-color);
}
.breadcrum-box::before {
  content: ">";
  position: absolute;
  top: 0px;
  right: 0px;
}
.breadcrumhead {
  margin: 20px 0;
  font-weight: 400;
  color: #4e4e4e;
}
.primary-hover {
  cursor: pointer;
  transition: all 0.5s;
}
.primary-hover:hover {
  color: var(--primary2-color);
}
.test-dec {
  font-size: 12px;
  color: gray;
}
.card-box {
  border-color: transparent;
  transition: all 0.5s;
}
.card-box:hover {
  border-color: rgba(0, 0, 0, 0.125);
}
